# Imports and Loads

In [1]:
from base import *
from scipy import stats as st

In [2]:
ATLANTICO_NORTE = AtlanticoNorte()
ATLANTICO_SUL = AtlanticoSul()
PACIFICO_SUL = PacificoSul()
NINO = Nino()
COORDENADAS = Coordenadas()
PRECIPITACAO = Precipitacao()

# Check Data Structures

In [3]:
def check_dimensions(datas):
    for r in datas:
        print("{}   -  Rows: {}   Columns: {}".format(r.name, r.shape[0], r.shape[1]))
        print()

In [4]:
def check_nan_fields(datas):
    for r in datas:
        print(str(r.name)+"  -  "+str(sum(r.isna().sum().values)))
        print()

In [5]:
check_nan_fields([ATLANTICO_NORTE.data, ATLANTICO_SUL.data, PACIFICO_SUL.data, NINO.data, COORDENADAS.data, PRECIPITACAO.data])

ATLANTICO_NORTE  -  0

ATLANTICO_SUL  -  0

PACIFICO_SUL  -  0

NINO  -  0

COORDENADAS  -  0

PRECIPITACAO  -  0

In [6]:
check_dimensions([ATLANTICO_NORTE.data, ATLANTICO_SUL.data, PACIFICO_SUL.data, NINO.data, COORDENADAS.data, PRECIPITACAO.data])

ATLANTICO_NORTE   -  Rows: 468   Columns: 20

ATLANTICO_SUL   -  Rows: 468   Columns: 40

PACIFICO_SUL   -  Rows: 468   Columns: 35

NINO   -  Rows: 468   Columns: 5

COORDENADAS   -  Rows: 24   Columns: 3

PRECIPITACAO   -  Rows: 468   Columns: 25

In [7]:
PRECIPITACAO.data['1'].value_counts()

NORMAL                    134
MUITO ABAIXO DO NORMAL    100
ABAIXO DO NORMAL           98
ACIMA DO NORMAL            86
MUITO ACIMA DO NORMAL      50
Name: 1, dtype: int64

# Approach I

- Correlate TSM Areas x PRM Areas, considering times shifts from 0 to 12 Months and select vars with the highest correlation per area.

- In: TSM Areas transformed in vars with time shifts. Example: TSM-AN(3) - Temperature Media in North Atlantic displaced 3 months in time since the first date of the registers 1982-01-01.

- OUT: Class of Precipitation in 24 areas. Ex: PRM1 - NORMAL

In [8]:
ATLANTICO_NORTE.transpose_to_time()
ATLANTICO_SUL.transpose_to_time()
PACIFICO_SUL.transpose_to_time()
NINO.transpose_to_time()
PRECIPITACAO.transpose_to_time()

In [9]:
PRECIPITACAO.encoder()

In [10]:
PRECIPITACAO.data

,1982-01-01,1982-02-01,1982-03-01,1982-04-01,1982-05-01,1982-06-01,1982-07-01,1982-08-01,1982-09-01,1982-10-01,...,2020-03-01,2020-04-01,2020-05-01,2020-06-01,2020-07-01,2020-08-01,2020-09-01,2020-10-01,2020-11-01,2020-12-01
1,2,0,-1,1,-2,-1,-1,1,1,1,...,-1,-1,0,0,-2,1,-2,-2,2,-1
2,2,0,-2,1,-2,-1,-1,1,1,1,...,-2,0,0,0,-1,1,-2,-2,2,-1
3,2,0,-1,1,-1,-1,-1,0,0,0,...,-2,0,0,0,-1,1,-2,-2,2,0
4,1,1,-2,0,0,-1,-2,-1,-1,0,...,0,0,0,-1,0,1,-1,-2,2,-1
5,1,1,-2,0,0,0,-2,-1,-1,0,...,0,0,-1,-1,0,0,0,-1,1,-1
6,2,0,-1,0,0,1,-2,0,0,0,...,-1,-1,-1,-1,1,0,-1,0,1,-2
7,2,0,-1,1,-2,0,-1,1,1,0,...,0,0,0,-1,-2,-1,-1,-1,2,-2
8,2,0,-2,1,-2,0,0,1,1,-1,...,-1,-1,0,0,-2,0,-2,-2,2,-2
9,2,0,-2,1,-1,0,-1,0,0,-1,...,0,-1,0,-1,-2,0,-2,-2,2,-2
10,1,0,-2,0,-2,0,-2,-1,0,-1,...,0,0,-1,-1,-1,0,0,-1,1,-1
11,2,1,-1,0,-1,1,-2,-1,-1,0,...,0,0,-1,-1,0,-1,1,-1,2,-1
12,2,0,-1,0,-1,1,-2,0,0,0,...,-1,0,-1,0,2,0,0,0,2,-2
13,2,0,-2,1,-1,0,0,0,2,-1,...,0,2,1,-2,-2,-1,-1,-1,0,-2
14,2,-1,-2,1,-2,-1,-1,0,1,-1,...,0,-1,1,-1,-2,-1,-2,-2,2,-2
15,1,-2,-2,1,-2,-1,-1,0,0,-1,...,0,-1,1,0,-2,0,-2,-2,1,-2
16,0,-2,-2,1,-2,-1,-2,-1,0,-1,...,0,-1,0,0,-2,1,0,-2,2,-2
17,2,0,-2,0,-2,0,-2,-1,0,-1,...,-2,-1,-1,-1,0,0,2,-1,2,-1
18,2,0,-2,-1,-2,0,-2,-1,1,-1,...,0,0,0,0,1,0,1,-1,2,-2
19,2,0,-2,0,-1,0,0,0,2,0,...,0,2,1,-1,-2,-2,-2,-1,0,-2
20,2,-1,-2,0,-2,-1,0,0,1,-1,...,0,0,1,-1,-2,-1,-2,-2,1,-2
21,0,-2,-2,0,-2,-1,-1,0,0,-2,...,-2,0,1,0,-2,0,-2,-2,1,-2
22,0,-2,-2,0,-2,-1,-2,-1,0,-2,...,0,0,1,0,-2,1,-2,-2,2,-2
23,0,-2,-2,0,-2,-1,-2,-1,0,-2,...,1,0,1,-1,-2,1,-1,-2,2,-2
24,1,-1,-2,-2,-2,-1,-2,-1,1,-1,...,2,1,1,-1,-2,0,-2,-2,1,-2

In [11]:
def time_lag(x,y, delta,ocean):
    x = x[x.columns[:len(x.columns)-delta]]#.loc[x.index[index]]#ATLANTICO_NORTE.data[ATLANTICO_NORTE.data.columns[:len(ATLANTICO_NORTE.data.columns)-12]].loc[ATLANTICO_NORTE.data.index[0]]
    y = y[y.columns[delta:]]
    lags = {}
    for i in x.index:
        lags["TSM-"+ocean+x.loc[x.index[int(i)-1]].name+"("+str(delta)+")"] = x.loc[x.index[int(i)-1]].values
    for r in y.index:
        lags["PRM"+y.loc[y.index[int(r)-1]].name] = y.loc[y.index[int(r)-1]].values 
    return pd.DataFrame(lags)

In [12]:
## Deslocamentos

def generate_displacement(data_in,data_out,ocean_flag):
    flags = {"ATLN": "AN", "ATLS": "AS", "PCS": "PS", "NINO": "NI"}
    out_columns = ["PRM1","PRM2","PRM3","PRM4","PRM5","PRM6","PRM7","PRM8","PRM9","PRM10","PRM11",
                 "PRM12","PRM13","PRM14","PRM15","PRM16","PRM17","PRM18","PRM19","PRM20","PRM21",
                 "PRM22","PRM23","PRM24"]
    DELTA = {}
    for r in range(1,13):
        x = data_in[data_in.columns[:len(data_in.columns) - r]].T
        y = data_out[data_out.columns[r:]].T
        columns = []
        for c in x.columns:
            columns.append("TSM-"+flags[ocean_flag]+str(c)+"("+str(r)+")")
        x.columns = columns
        y.columns = out_columns
        DELTA["DELTA "+str(r)] = {"X": x, "y": y}  
    return DELTA

In [13]:
atln = generate_displacement(ATLANTICO_NORTE.data, PRECIPITACAO.data, "ATLN")
atls = generate_displacement(ATLANTICO_SUL.data, PRECIPITACAO.data, "ATLS")
pcs = generate_displacement(PACIFICO_SUL.data, PRECIPITACAO.data, "PCS")
nino = generate_displacement(NINO.data, PRECIPITACAO.data, "NINO")

In [22]:
atln['DELTA 12']['X']

,TSM-AN1(12),TSM-AN2(12),TSM-AN3(12),TSM-AN4(12),TSM-AN5(12),TSM-AN6(12),TSM-AN7(12),TSM-AN8(12),TSM-AN9(12),TSM-AN10(12),TSM-AN11(12),TSM-AN12(12),TSM-AN13(12),TSM-AN14(12),TSM-AN15(12),TSM-AN16(12),TSM-AN17(12),TSM-AN18(12),TSM-AN19(12)
1982-01-01,26.0098,25.3862,24.3421,22.973,26.8484,26.1652,25.2629,24.6777,26.8626,26.7427,26.4668,26.604,27.7325,27.284,27.3158,27.503,28.2153,28.3471,28.4736
1982-02-01,25.4937,24.6246,23.706,22.2753,26.4223,25.4757,24.638,23.7625,26.7571,26.2851,26.1257,25.9726,26.011,27.3053,27.2771,27.7486,28.5934,28.5578,28.8561
1982-03-01,25.3498,24.4863,23.534,22.1519,26.3487,25.4243,24.6487,23.6527,26.7935,26.8084,26.4926,26.1522,26.1699,27.3521,27.534,28.1318,28.897,29.1426,29.1116
1982-04-01,25.779,24.651,23.4159,22.3043,26.6982,25.3215,24.6814,23.611,27.1823,26.8794,26.5401,26.2872,27.1713,27.6002,27.6694,28.0068,28.8802,29.1436,28.6862
1982-05-01,26.6424,25.5152,24.1482,23.0335,27.3998,26.17,25.3244,24.5587,27.5308,27.3391,26.938,27.0607,27.8449,27.7344,27.6691,28.0665,28.1371,28.0639,27.7348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-01,28.3878,27.2397,26.1895,25.2551,28.6688,27.7191,27.2307,27.1386,28.9099,28.6232,27.7557,27.3673,26.8774,27.8133,27.2798,26.4639,25.835,25.6514,26.2485
2019-09-01,28.9423,27.9556,26.9795,26.4659,29.2131,28.6041,27.9552,27.7709,29.3495,29.1864,28.453,27.957,27.3123,27.9983,27.618,26.9439,26.4558,25.8576,26.6755
2019-10-01,29.0423,27.9018,27.0465,26.5341,29.127,28.5396,27.9117,28.1049,29.2269,29.2897,29.0279,28.8493,28.2492,28.2514,28.0478,27.964,27.2641,26.4353,27.1444
2019-11-01,27.9465,26.9379,26.3661,25.4565,28.5828,27.3883,27.0997,27.2374,28.9635,28.2067,28.3246,28.5011,29.0431,27.8961,27.9979,28.2904,28.1149,28.0067,28.1491
2019-12-01,27.2697,26.2853,25.1665,23.7125,27.9209,26.8673,26.1713,25.9938,27.8937,27.3776,27.3332,27.7158,29.1742,27.9995,28.0922,28.1465,28.5138,29.0793,28.9843

In [23]:
atln['DELTA 12']['y']

,PRM1,PRM2,PRM3,PRM4,PRM5,PRM6,PRM7,PRM8,PRM9,PRM10,...,PRM15,PRM16,PRM17,PRM18,PRM19,PRM20,PRM21,PRM22,PRM23,PRM24
1983-01-01,-2,-2,-1,-1,-1,-1,-1,-1,0,0,...,0,0,0,1,-1,-1,0,0,1,2
1983-02-01,0,0,-1,-2,-2,-1,0,0,-1,-1,...,-1,-1,0,0,0,0,-1,-2,-1,0
1983-03-01,0,0,0,-1,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1983-04-01,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2
1983-05-01,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-01,1,1,1,1,0,0,-1,0,0,0,...,0,1,0,0,-2,-1,0,1,1,0
2020-09-01,-2,-2,-2,-1,0,-1,-1,-2,-2,0,...,-2,0,2,1,-2,-2,-2,-2,-1,-2
2020-10-01,-2,-2,-2,-2,-1,0,-1,-2,-2,-1,...,-2,-2,-1,-1,-1,-2,-2,-2,-2,-2
2020-11-01,2,2,2,2,1,1,2,2,2,1,...,1,2,2,2,0,1,1,2,2,1
2020-12-01,-1,-1,0,-1,-1,-2,-2,-2,-2,-1,...,-2,-2,-1,-2,-2,-2,-2,-2,-2,-2

In [14]:
def generate_correlation_tables(data):
    CORR = {}
    indices = ["PRM1","PRM2","PRM3","PRM4","PRM5","PRM6","PRM7","PRM8","PRM9","PRM10","PRM11",
                 "PRM12","PRM13","PRM14","PRM15","PRM16","PRM17","PRM18","PRM19","PRM20","PRM21",
                 "PRM22","PRM23","PRM24"]
    for k in data.keys():
        var = {}
        for x in data[k]['X'].columns:
            var[x] = []
            for y in data[k]['y'].columns:
                c = st.kendalltau(data[k]['X'][x],data[k]['y'][y])[0]
                var[x].append(c)
        CORR[k] = pd.DataFrame(var).T
        CORR[k].columns = indices
    return CORR


def concat_data_frames(dfs):
    df_list = []
    for k in dfs.keys():
        df_list.append(dfs[k])
    return pd.concat(df_list)

In [15]:
corr_atln = concat_data_frames(generate_correlation_tables(atln))
corr_atls = concat_data_frames(generate_correlation_tables(atls))
corr_pcs = concat_data_frames(generate_correlation_tables(pcs))
corr_nino = concat_data_frames(generate_correlation_tables(nino))

final_corr = pd.concat([corr_atln,corr_atls,corr_pcs,corr_nino])

In [13]:
final_corr.to_excel('correlacoes.xlsx')

In [16]:
final_corr

,PRM1,PRM2,PRM3,PRM4,PRM5,PRM6,PRM7,PRM8,PRM9,PRM10,...,PRM15,PRM16,PRM17,PRM18,PRM19,PRM20,PRM21,PRM22,PRM23,PRM24
TSM-AN1(1),-0.068730,-0.076285,-0.068967,-0.061169,-0.052251,-0.059741,-0.075599,-0.095640,-0.097642,-0.072605,...,-0.097927,-0.080971,-0.057035,-0.061845,-0.100377,-0.111970,-0.118749,-0.095077,-0.084337,-0.071059
TSM-AN2(1),-0.045166,-0.052866,-0.053818,-0.049981,-0.047094,-0.057891,-0.061027,-0.073054,-0.078387,-0.061887,...,-0.079778,-0.074252,-0.055709,-0.057311,-0.088684,-0.095017,-0.097572,-0.085923,-0.082495,-0.070447
TSM-AN3(1),-0.032995,-0.039821,-0.037851,-0.039738,-0.035884,-0.046036,-0.046497,-0.058183,-0.064620,-0.049476,...,-0.072595,-0.067337,-0.050355,-0.055013,-0.082350,-0.088810,-0.085110,-0.084492,-0.078988,-0.066250
TSM-AN4(1),-0.032477,-0.037098,-0.035862,-0.037735,-0.025476,-0.028208,-0.043766,-0.056844,-0.063075,-0.043744,...,-0.070699,-0.065171,-0.039669,-0.045312,-0.079387,-0.088147,-0.084011,-0.083239,-0.071625,-0.054354
TSM-AN5(1),-0.050935,-0.066587,-0.061175,-0.060380,-0.052927,-0.066556,-0.062792,-0.083718,-0.092163,-0.072127,...,-0.094061,-0.082173,-0.057552,-0.057498,-0.088891,-0.107306,-0.113633,-0.090101,-0.079744,-0.069805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TSM-NI4(11),-0.075271,-0.095248,-0.061786,-0.038129,-0.053362,-0.041522,-0.051848,-0.065297,-0.044384,-0.037350,...,-0.059873,-0.055545,-0.062195,-0.050203,-0.073123,-0.096280,-0.105068,-0.042104,-0.037558,-0.040035
TSM-NI1(12),-0.015333,-0.022836,-0.005347,0.008024,-0.003774,-0.009890,-0.012138,-0.010155,-0.002416,-0.006644,...,0.001566,-0.013185,-0.024622,0.010019,0.015370,0.017690,0.001893,0.011261,0.014733,0.016067
TSM-NI2(12),-0.043760,-0.059188,-0.030518,-0.005032,-0.020446,-0.004729,-0.031707,-0.030704,-0.009165,-0.006668,...,-0.014303,-0.016171,-0.025890,-0.004717,-0.023846,-0.026794,-0.039097,0.002968,0.007315,0.002144
TSM-NI3(12),-0.122374,-0.132230,-0.097858,-0.067768,-0.081622,-0.064172,-0.121186,-0.118916,-0.101136,-0.086089,...,-0.125013,-0.100783,-0.091706,-0.101051,-0.155425,-0.178524,-0.175157,-0.115082,-0.088343,-0.114029
TSM-NI4(12),-0.067957,-0.076765,-0.038859,-0.008259,-0.025441,-0.005276,-0.046471,-0.045708,-0.018380,-0.015978,...,-0.037309,-0.030383,-0.040034,-0.031915,-0.058717,-0.078789,-0.081520,-0.020286,-0.017393,-0.026932

In [22]:
abs(final_corr)

,PRM1,PRM2,PRM3,PRM4,PRM5,PRM6,PRM7,PRM8,PRM9,PRM10,...,PRM15,PRM16,PRM17,PRM18,PRM19,PRM20,PRM21,PRM22,PRM23,PRM24
TSM-AN1(1),0.068730,0.076285,0.068967,0.061169,0.052251,0.059741,0.075599,0.095640,0.097642,0.072605,...,0.097927,0.080971,0.057035,0.061845,0.100377,0.111970,0.118749,0.095077,0.084337,0.071059
TSM-AN2(1),0.045166,0.052866,0.053818,0.049981,0.047094,0.057891,0.061027,0.073054,0.078387,0.061887,...,0.079778,0.074252,0.055709,0.057311,0.088684,0.095017,0.097572,0.085923,0.082495,0.070447
TSM-AN3(1),0.032995,0.039821,0.037851,0.039738,0.035884,0.046036,0.046497,0.058183,0.064620,0.049476,...,0.072595,0.067337,0.050355,0.055013,0.082350,0.088810,0.085110,0.084492,0.078988,0.066250
TSM-AN4(1),0.032477,0.037098,0.035862,0.037735,0.025476,0.028208,0.043766,0.056844,0.063075,0.043744,...,0.070699,0.065171,0.039669,0.045312,0.079387,0.088147,0.084011,0.083239,0.071625,0.054354
TSM-AN5(1),0.050935,0.066587,0.061175,0.060380,0.052927,0.066556,0.062792,0.083718,0.092163,0.072127,...,0.094061,0.082173,0.057552,0.057498,0.088891,0.107306,0.113633,0.090101,0.079744,0.069805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TSM-NI4(11),0.075271,0.095248,0.061786,0.038129,0.053362,0.041522,0.051848,0.065297,0.044384,0.037350,...,0.059873,0.055545,0.062195,0.050203,0.073123,0.096280,0.105068,0.042104,0.037558,0.040035
TSM-NI1(12),0.015333,0.022836,0.005347,0.008024,0.003774,0.009890,0.012138,0.010155,0.002416,0.006644,...,0.001566,0.013185,0.024622,0.010019,0.015370,0.017690,0.001893,0.011261,0.014733,0.016067
TSM-NI2(12),0.043760,0.059188,0.030518,0.005032,0.020446,0.004729,0.031707,0.030704,0.009165,0.006668,...,0.014303,0.016171,0.025890,0.004717,0.023846,0.026794,0.039097,0.002968,0.007315,0.002144
TSM-NI3(12),0.122374,0.132230,0.097858,0.067768,0.081622,0.064172,0.121186,0.118916,0.101136,0.086089,...,0.125013,0.100783,0.091706,0.101051,0.155425,0.178524,0.175157,0.115082,0.088343,0.114029
TSM-NI4(12),0.067957,0.076765,0.038859,0.008259,0.025441,0.005276,0.046471,0.045708,0.018380,0.015978,...,0.037309,0.030383,0.040034,0.031915,0.058717,0.078789,0.081520,0.020286,0.017393,0.026932

In [83]:
def selected_nvars(data, n):
    columns = data.columns
    selected = {}
    for r in columns:
        data_abs = abs(data)
        indices = list(data_abs.sort_values(by=[r], ascending=False)[r].head(n).index)
        selected[r] = data.T[indices].columns
    return pd.DataFrame(selected) 
selected_nvars(final_corr,5)

,PRM1,PRM2,PRM3,PRM4,PRM5,PRM6,PRM7,PRM8,PRM9,PRM10,...,PRM15,PRM16,PRM17,PRM18,PRM19,PRM20,PRM21,PRM22,PRM23,PRM24
0,TSM-NI3(1),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),...,TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(11),TSM-NI3(11),TSM-NI3(6),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4)
1,TSM-NI3(3),TSM-NI3(3),TSM-NI3(3),TSM-NI3(3),TSM-NI3(3),TSM-NI3(6),TSM-NI3(3),TSM-NI3(3),TSM-NI3(3),TSM-NI3(5),...,TSM-NI3(5),TSM-NI3(5),TSM-NI3(5),TSM-NI3(5),TSM-NI3(6),TSM-NI3(10),TSM-NI3(4),TSM-NI3(3),TSM-NI3(6),TSM-NI3(6)
2,TSM-NI3(4),TSM-NI3(5),TSM-NI3(5),TSM-NI3(5),TSM-NI3(5),TSM-NI3(5),TSM-NI3(1),TSM-NI3(5),TSM-NI3(5),TSM-NI3(3),...,TSM-NI3(3),TSM-NI3(6),TSM-NI3(3),TSM-NI3(6),TSM-NI3(12),TSM-NI3(6),TSM-NI3(5),TSM-NI3(5),TSM-NI3(5),TSM-NI3(5)
3,TSM-NI3(2),TSM-NI3(1),TSM-NI3(6),TSM-NI3(2),TSM-NI3(6),TSM-NI3(3),TSM-NI3(5),TSM-NI3(6),TSM-NI3(6),TSM-NI3(6),...,TSM-NI3(6),TSM-NI3(3),TSM-NI3(6),TSM-NI3(3),TSM-NI3(10),TSM-NI3(12),TSM-NI3(11),TSM-NI3(6),TSM-NI3(3),TSM-NI3(3)
4,TSM-NI3(5),TSM-NI3(2),TSM-NI3(2),TSM-NI3(6),TSM-NI3(2),TSM-NI3(7),TSM-NI3(2),TSM-NI3(2),TSM-NI3(2),TSM-NI3(1),...,TSM-NI3(2),TSM-NI4(6),TSM-NI3(1),TSM-NI3(1),TSM-NI3(7),TSM-NI3(4),TSM-NI3(10),TSM-NI3(2),TSM-NI4(6),TSM-NI3(1)

In [84]:
lists = []
wr = pd.ExcelWriter('Base_Atlantico_Norte.xlsx')
wr2 = pd.ExcelWriter('Base_Atlantico_Sul.xlsx')
wr3 = pd.ExcelWriter('Base_Pacifico_Sul.xlsx')
wr4 = pd.ExcelWriter('Base_Nino.xlsx')

for d in range(1,13):
    time_lag(ATLANTICO_NORTE.data, PRECIPITACAO.data, d,'AN').to_excel(wr, sheet_name=str(d))
    time_lag(ATLANTICO_SUL.data, PRECIPITACAO.data, d,'AS').to_excel(wr2, sheet_name=str(d))
    time_lag(PACIFICO_SUL.data, PRECIPITACAO.data, d,'PS').to_excel(wr3, sheet_name=str(d))
    time_lag(NINO.data, PRECIPITACAO.data, d,'NI').to_excel(wr4, sheet_name=str(d))
wr.save()
wr2.save()
wr3.save()
wr4.save()

In [124]:
def find_var(var,out,data):
    col = list(data.columns)
    if var in col:
        return data[[var,out]]
    return None
        



atn = pd.ExcelFile("Base_Atlantico_Norte.xlsx").sheet_names
ats = pd.ExcelFile("Base_Atlantico_Sul.xlsx").sheet_names
nin = pd.ExcelFile("Base_Nino.xlsx").sheet_names
pcs = pd.ExcelFile("Base_Pacifico_Sul.xlsx").sheet_names

ent = selected_nvars(final_corr, 5)
out = "PRM1"
col = []
#var = {}
paths = ["Base_Atlantico_Norte.xlsx","Base_Atlantico_Sul.xlsx", "Base_Nino.xlsx", "Base_Pacifico_Sul.xlsx"]
sheet_names = ['1','2','3','4','5','6','7','8','9','10','11','12']

'''
for c in ent.columns:
    var[c] = []
    for i in ent[r].values:
        for p in paths:
            for s in sheet_names:
                base = pd.read_excel(p,s)
                df = find_var(i,c,base)
                if df is not None:
                    var[c].append(df)


var.keys()
'''

'\nfor c in ent.columns:\n    var[c] = []\n    for i in ent[r].values:\n        for p in paths:\n            for s in sheet_names:\n                base = pd.read_excel(p,s)\n                df = find_var(i,c,base)\n                if df is not None:\n                    var[c].append(df)\n\n\nvar.keys()\n'

In [116]:
DATA = {}
for k in var.keys():
    DATA[k] = {"IN": {}, "OUT": {}}
    i = 0
    for r in var[k]:
        i+=1
        DATA[k]["IN"][i] = []
        DATA[k]["OUT"][i] = []
        DATA[k]["IN"][i].append(list(r[r.columns[0]].values)) 
        DATA[k]["OUT"][i].append(list(r[r.columns[1]].values))

In [125]:
pd.DataFrame(DATA['PRM1'])

,IN,OUT
1,"[[28.3, 28.21, 28.41, 28.92, 29.49, 29.76, 29....","[[-2, -1, -1, 1, 1, 1, -2, 0, -2, 0, 0, -2, -2..."
2,"[[28.3, 28.21, 28.41, 28.92, 29.49, 29.76, 29....","[[-1, 1, 1, 1, -2, 0, -2, 0, 0, -2, -2, -1, 0,..."
3,"[[28.3, 28.21, 28.41, 28.92, 29.49, 29.76, 29....","[[-1, -1, 1, 1, 1, -2, 0, -2, 0, 0, -2, -2, -1..."
4,"[[28.3, 28.21, 28.41, 28.92, 29.49, 29.76, 29....","[[1, -2, -1, -1, 1, 1, 1, -2, 0, -2, 0, 0, -2,..."
5,"[[28.3, 28.21, 28.41, 28.92, 29.49, 29.76, 29....","[[0, -1, 1, -2, -1, -1, 1, 1, 1, -2, 0, -2, 0,..."

In [128]:
exf = pd.ExcelWriter("Data_fit.xlsx")

for k in DATA:
    pd.DataFrame(DATA[k]).to_excel(exf,sheet_name=k)
exf.save()

In [129]:
ent.to_excel("Variaveis_selecionadas.xlsx")

In [324]:
lista = []
base = []
i = 1
for k in var.keys():
    lista = []
    for df in var[k]:
        df.columns = ['ENT'+str(i),k]
        lista.append(df)
    base.append(lista)
    i+=1  
    
final = []
for b in base:
    tmp = pd.concat(b)
    tmp.reset_index(drop=True, inplace=True)
    final.append(tmp)

base_dados = pd.concat(final,axis=1, join='inner')

In [326]:
base_dados.to_excel('data_model.xlsx')

In [37]:
ent = selected_nvars(final_corr, 5)
ent

,PRM1,PRM2,PRM3,PRM4,PRM5,PRM6,PRM7,PRM8,PRM9,PRM10,...,PRM15,PRM16,PRM17,PRM18,PRM19,PRM20,PRM21,PRM22,PRM23,PRM24
0,TSM-NI3(1),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),...,TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4),TSM-NI3(11),TSM-NI3(11),TSM-NI3(6),TSM-NI3(4),TSM-NI3(4),TSM-NI3(4)
1,TSM-NI3(3),TSM-NI3(3),TSM-NI3(3),TSM-NI3(3),TSM-NI3(3),TSM-NI3(6),TSM-NI3(3),TSM-NI3(3),TSM-NI3(3),TSM-NI3(5),...,TSM-NI3(5),TSM-NI3(5),TSM-NI3(5),TSM-NI3(5),TSM-NI3(6),TSM-NI3(10),TSM-NI3(4),TSM-NI3(3),TSM-NI3(6),TSM-NI3(6)
2,TSM-NI3(4),TSM-NI3(5),TSM-NI3(5),TSM-NI3(5),TSM-NI3(5),TSM-NI3(5),TSM-NI3(1),TSM-NI3(5),TSM-NI3(5),TSM-NI3(3),...,TSM-NI3(3),TSM-NI3(6),TSM-NI3(3),TSM-NI3(6),TSM-NI3(12),TSM-NI3(6),TSM-NI3(5),TSM-NI3(5),TSM-NI3(5),TSM-NI3(5)
3,TSM-NI3(2),TSM-NI3(1),TSM-NI3(6),TSM-NI3(2),TSM-NI3(6),TSM-NI3(3),TSM-NI3(5),TSM-NI3(6),TSM-NI3(6),TSM-NI3(6),...,TSM-NI3(6),TSM-NI3(3),TSM-NI3(6),TSM-NI3(3),TSM-NI3(10),TSM-NI3(12),TSM-NI3(11),TSM-NI3(6),TSM-NI3(3),TSM-NI3(3)
4,TSM-NI3(5),TSM-NI3(2),TSM-NI3(2),TSM-NI3(6),TSM-NI3(2),TSM-NI3(7),TSM-NI3(2),TSM-NI3(2),TSM-NI3(2),TSM-NI3(1),...,TSM-NI3(2),TSM-NI4(6),TSM-NI3(1),TSM-NI3(1),TSM-NI3(7),TSM-NI3(4),TSM-NI3(10),TSM-NI3(2),TSM-NI4(6),TSM-NI3(1)

In [52]:
[atln['DELTA 1']['X']['TSM-AN1(1)'].values,atln['DELTA 1']['X']['TSM-AN2(1)'].values]

[array([26.0098, 25.4937, 25.3498, 25.779, 26.6424, 27.258, 27.3333,
        27.7096, 28.0901, 27.6497, 27.0988, 26.2016, 25.5559, 25.3834,
        25.7558, 26.188, 26.7781, 27.3996, 27.8021, 28.1231, 28.0444,
        27.8126, 27.5219, 26.793, 26.0275, 25.5787, 25.2731, 25.6937,
        26.2337, 26.8452, 26.7796, 26.9829, 27.4399, 27.4981, 27.098,
        26.3296, 25.6059, 25.286, 25.0621, 25.3709, 25.9592, 26.9344,
        27.3486, 27.8043, 27.8666, 27.4764, 27.1502, 26.1931, 25.3087,
        25.0223, 25.1215, 25.61, 26.5528, 26.8165, 26.9251, 27.366,
        27.7102, 27.7511, 27.2708, 26.0508, 25.5623, 25.4615, 25.9283,
        26.528, 26.8743, 27.5767, 27.7265, 28.2978, 28.4667, 28.3541,
        27.9311, 27.0224, 26.3211, 25.7575, 25.6418, 26.18, 26.7701,
        27.5792, 27.7632, 27.8473, 28.1998, 27.8459, 27.0764, 26.2394,
        25.2494, 24.9275, 24.7137, 25.1015, 25.7808, 26.5637, 27.5391,
        27.792, 27.6479, 27.7649, 27.3451, 26.7493, 25.5306, 25.1462,
        25.1588, 25.7559, 26.7523, 27.0846, 27.4872, 28.0249, 28.1395,
        28.0047, 27.6594, 26.7884, 25.8311, 25.5485, 25.4766, 25.6073,
        26.522, 26.8623, 27.1504, 27.6401, 28.1573, 27.9148, 27.1767,
        26.1312, 25.4387, 25.26, 25.4141, 25.8772, 26.4253, 27.0674,
        27.4469, 27.8223, 28.1072, 28.1102, 27.593, 26.6037, 25.7462,
        25.335, 25.1869, 25.8207, 26.3559, 27.1762, 27.5767, 27.689,
        27.9318, 27.8063, 27.3222, 26.4863, 25.5565, 25.0924, 25.1689,
        25.368, 26.088, 26.5907, 26.788, 27.2346, 27.5744, 27.9199,
        27.6368, 26.7664, 26.1833, 25.8122, 25.7961, 26.5204, 27.4863,
        27.829, 28.2248, 28.5121, 28.2022, 28.5538, 28.0417, 27.2192,
        26.5878, 25.8817, 25.563, 26.0706, 26.3174, 26.979, 27.1348,
        27.5394, 27.9032, 27.964, 27.4637, 26.7742, 26.011, 25.3269,
        25.1358, 25.6438, 26.4828, 27.1556, 27.7048, 28.0117, 28.4038,
        28.6004, 28.1397, 27.4376, 26.6424, 26.2574, 26.1745, 26.51,
        27.2301, 27.6743, 28.1636, 28.5608, 28.699, 28.6204, 28.1335,
        27.1543, 26.0338, 25.3411, 25.5744, 26.2901, 27.3362, 27.6646,
        27.8316, 28.4673, 28.4627, 28.0763, 27.4963, 26.959, 25.8808,
        25.2508, 25.2061, 25.3897, 26.1768, 26.577, 27.2202, 27.8319,
        27.9512, 28.0468, 27.5904, 26.5095, 25.7557, 25.3991, 25.546,
        25.8226, 26.4956, 27.1762, 27.5736, 27.9882, 28.569, 28.3706,
        28.165, 27.3727, 26.3111, 25.722, 25.6943, 25.9877, 26.4056,
        26.9949, 27.3066, 27.9833, 28.2443, 28.3176, 27.8506, 26.8745,
        26.1914, 25.8347, 25.742, 26.0032, 26.5209, 26.8113, 27.228,
        27.9789, 28.5548, 28.7385, 28.0347, 27.3277, 26.3368, 25.9203,
        25.8344, 26.5166, 26.6014, 27.246, 27.6064, 28.3587, 28.7178,
        28.731, 27.9454, 27.0596, 26.3236, 26.1955, 26.6262, 27.1402,
        28.0442, 28.4653, 28.8, 29.054, 29.2399, 28.712, 28.1416, 27.2221,
        26.1472, 25.4421, 25.7114, 26.548, 27.5045, 27.763, 27.7582,
        28.2459, 28.9171, 28.6027, 27.9364, 26.9947, 26.3354, 26.2189,
        26.1126, 26.6431, 27.0539, 27.5185, 27.7386, 28.0729, 28.3801,
        28.1655, 27.73, 26.9952, 26.1863, 25.4017, 25.2057, 25.4274,
        26.5287, 27.2684, 27.6931, 28.2637, 28.5943, 28.4953, 27.8719,
        26.7423, 25.8093, 25.4077, 25.1222, 25.7541, 26.3015, 27.2563,
        27.7833, 28.0518, 28.3834, 28.5848, 28.1384, 27.4017, 26.6995,
        26.4399, 27.0171, 27.3033, 27.8421, 28.4893, 28.7142, 29.1028,
        28.8377, 28.5416, 28.1618, 27.2222, 26.5062, 25.9496, 25.8186,
        26.3496, 27.3381, 28.587, 28.2773, 28.5629, 28.4477, 28.2292,
        27.9276, 27.1394, 26.274, 25.5707, 25.4949, 26.2066, 26.6212,
        27.5891, 27.9935, 28.2486, 28.805, 28.6679, 28.1027, 27.2634,
        26.3257, 25.8084, 26.1247, 26.4016, 26.8095, 27.2345, 27.7824,
        28.3924, 28.6533, 28.7642, 27.984, 26.9262, 25.8983, 25.4473,
        25.5269, 25.8038, 26.374, 27.0595, 27.4151, 27.8988, 28.5111,
        28.5309, 27.959, 27.1126, 26.3722, 26.1535, 25.7424, 25.8647,
        26.5611, 26.8181, 27.182, 27.9293, 28.9972, 29.1492, 28.086,
        27.1176, 26.3342, 25.9294, 26.0816, 26.4181, 27.1807, 27.66,
        28.0439, 28.3907, 28.681, 28.5882, 28.2774, 27.3797, 26.3307,
        26.058, 25.7719, 26.3909, 26.9593, 27.6036, 28.0711, 28.5164,
        28.4843, 28.1488, 27.9913, 27.398, 26.3735, 25.6821, 25.8053,
        25.9775, 26.3234, 26.792, 27.1939, 27.7762, 28.4832, 28.2163,
        27.393, 26.4839, 25.827, 25.8133, 25.6713, 26.0364, 26.8715,
        27.6138, 28.0262, 28.3878, 28.9423, 29.0423, 27.9465, 27.2697,
        26.5278, 26.1074, 26.0217, 26.8172, 27.1258, 27.8487, 28.4059,
        28.4721, 28.6614, 28.4023, 27.6801], dtype=object),
 array([25.3862, 24.6246, 24.4863, 24.651, 25.5152, 26.1525, 26.211,
        26.7311, 27.3321, 27.0764, 26.4961, 25.5037, 24.7772, 24.7222,
        25.0295, 25.6453, 25.906, 26.452, 26.6232, 26.8602, 27.3807,
        26.7632, 26.6216, 26.1743, 25.3991, 24.9154, 24.4817, 24.5996,
        25.3266, 25.5228, 25.5979, 26.0432, 26.7552, 26.683, 26.4291,
        25.5922, 24.8175, 24.5433, 24.129, 24.3721, 24.6864, 25.816,
        26.288, 26.8913, 27.0892, 27.0608, 26.8739, 25.8769, 24.7448,
        24.3698, 24.3236, 24.5321, 24.9245, 25.3518, 25.6729, 26.3374,
        26.9302, 26.7386, 26.7059, 25.1834, 24.831, 24.6222, 24.9475,
        25.4684, 25.8705, 26.6714, 26.7389, 27.3988, 27.8856, 27.8446,
        27.3308, 26.7258, 25.6698, 25.0805, 25.1451, 25.6075, 25.9076,
        26.3825, 26.7407, 26.8662, 27.1809, 26.9839, 26.4198, 25.5712,
        24.5647, 24.2513, 23.9154, 24.0869, 24.6603, 25.699, 26.4926,
        27.2039, 26.989, 27.256, 26.8269, 26.2953, 25.0811, 24.6245,
        24.5786, 25.1692, 25.8553, 26.1218, 26.5517, 27.0296, 27.599,
        27.7647, 27.1957, 26.326, 25.1464, 24.726, 24.3997, 24.7707,
        25.5691, 25.7248, 25.9627, 26.3914, 26.9515, 27.1254, 26.7116,
        26.0141, 25.1892, 24.6954, 24.4213, 24.7668, 25.3271, 25.7933,
        26.3808, 26.9372, 27.3736, 27.1723, 26.873, 25.9424, 25.2955,
        24.5533, 24.3934, 24.9455, 25.4176, 26.1042, 25.9058, 26.3693,
        26.9787, 26.8431, 26.5162, 25.7613, 24.6337, 24.2515, 24.1412,
        24.3734, 24.6874, 25.02, 25.4719, 26.1327, 26.5506, 27.0703,
        26.7148, 25.8177, 25.2475, 24.5874, 24.5877, 25.4, 26.3009,
        26.6539, 26.984, 27.5751, 27.4631, 27.974, 27.6082, 26.5955,
        25.9677, 25.1375, 24.8468, 25.258, 25.5806, 25.8651, 26.2794,
        26.7939, 27.287, 27.1997, 26.7031, 26.1885, 25.3381, 24.5443,
        24.5115, 25.0111, 25.6918, 26.079, 26.7283, 27.2414, 27.5418,
        28.1858, 27.765, 26.8099, 25.7889, 25.3681, 25.3311, 25.5224,
        26.2247, 26.5523, 27.0015, 27.4428, 27.929, 28.0116, 27.4825,
        26.4393, 25.0458, 24.6561, 24.7814, 25.1561, 25.6798, 26.0545,
        26.4664, 27.2974, 27.5538, 27.4808, 27.0833, 26.5389, 25.1187,
        24.2946, 24.2449, 24.3491, 24.9661, 25.3564, 25.9657, 26.5033,
        26.6484, 27.0713, 26.5938, 25.6255, 24.8342, 24.3752, 24.5398,
        24.6815, 25.3489, 25.8978, 26.4397, 26.9427, 27.5186, 27.6787,
        27.7119, 26.7956, 25.6977, 25.0617, 25.0602, 25.0967, 25.1379,
        25.5571, 26.03, 26.6277, 27.1071, 27.7294, 27.1617, 26.0885,
        25.3664, 24.7043, 24.5866, 24.8768, 25.2686, 25.5311, 26.0572,
        27.1564, 27.6155, 27.8056, 27.4333, 26.7132, 25.8919, 25.186,
        24.978, 25.4628, 25.4993, 25.9936, 26.5177, 27.538, 27.8881,
        27.5906, 27.7079, 26.9709, 26.0737, 25.7578, 25.9217, 26.2838,
        26.7717, 27.4563, 27.5658, 27.7472, 28.0162, 27.9711, 27.441,
        26.5306, 25.4621, 24.7084, 24.8873, 25.5148, 26.1373, 26.4754,
        26.5775, 27.3155, 27.8036, 27.8217, 27.531, 26.5811, 25.7337,
        25.3497, 24.9277, 25.4922, 25.6068, 26.1055, 26.2038, 26.7094,
        27.2413, 27.5023, 27.0829, 26.2546, 25.4933, 24.771, 24.6879,
        24.9039, 25.6801, 26.1394, 26.5276, 27.1441, 27.7968, 27.6933,
        27.0459, 26.3384, 25.1988, 24.4068, 24.4239, 24.8745, 25.2778,
        25.952, 26.5029, 26.9117, 27.6497, 28.0332, 27.4207, 26.57, 25.985,
        25.714, 26.2882, 26.5779, 27.214, 27.5249, 27.6225, 27.9569,
        28.0886, 27.9592, 27.7495, 27.0476, 25.9808, 25.0918, 25.2347,
        25.5076, 26.3659, 27.1126, 27.0234, 27.3879, 27.5546, 27.5958,
        27.2831, 26.36, 25.4674, 24.8781, 24.5625, 25.1157, 25.6447,
        26.2117, 26.492, 27.2283, 27.9809, 28.083, 27.6778, 26.6805,
        25.6746, 25.0734, 25.4229, 25.5037, 26.132, 26.1965, 26.6548,
        27.2389, 27.8387, 28.0226, 27.1726, 26.205, 25.0158, 24.4613,
        24.3242, 24.6981, 25.2225, 25.632, 26.0464, 26.7799, 27.5384,
        27.714, 27.1819, 26.2993, 25.3606, 24.9008, 24.4325, 24.7108,
        25.042, 25.2012, 25.7969, 26.9867, 27.9992, 28.0665, 27.1777,
        26.2807, 25.4286, 24.9075, 25.1391, 25.1883, 26.0669, 26.3636,
        26.7985, 27.2948, 27.7508, 27.6546, 27.5047, 26.8187, 25.5554,
        25.0757, 24.6696, 25.295, 26.088, 26.6643, 27.0151, 27.2994,
        27.7891, 27.7474, 27.3786, 26.8295, 25.7029, 24.9398, 24.8268,
        24.8311, 25.1138, 25.0766, 25.5837, 26.4533, 27.281, 27.2976,
        26.5783, 25.6803, 25.0063, 24.9622, 24.8065, 25.0446, 25.6428,
        26.2374, 26.6917, 27.2397, 27.9556, 27.9018, 26.9379, 26.2853,
        25.4605, 25.112, 25.0129, 25.5054, 25.6993, 26.4789, 27.0806,
        27.3896, 27.6689, 27.6131, 27.097], dtype=object)]

In [230]:
for c in ent.columns:
    for i in ent[r].values:
        print(i,c)

TSM-AS14(2) PRM1
TSM-AS13(2) PRM1
TSM-PS30(3) PRM1
TSM-AS16(1) PRM1
TSM-AS13(1) PRM1
TSM-NI3(4) PRM1
TSM-NI3(6) PRM1
TSM-NI3(5) PRM1
TSM-NI3(3) PRM1
TSM-NI3(1) PRM1
TSM-AS14(2) PRM2
TSM-AS13(2) PRM2
TSM-PS30(3) PRM2
TSM-AS16(1) PRM2
TSM-AS13(1) PRM2
TSM-NI3(4) PRM2
TSM-NI3(6) PRM2
TSM-NI3(5) PRM2
TSM-NI3(3) PRM2
TSM-NI3(1) PRM2
TSM-AS14(2) PRM3
TSM-AS13(2) PRM3
TSM-PS30(3) PRM3
TSM-AS16(1) PRM3
TSM-AS13(1) PRM3
TSM-NI3(4) PRM3
TSM-NI3(6) PRM3
TSM-NI3(5) PRM3
TSM-NI3(3) PRM3
TSM-NI3(1) PRM3
TSM-AS14(2) PRM4
TSM-AS13(2) PRM4
TSM-PS30(3) PRM4
TSM-AS16(1) PRM4
TSM-AS13(1) PRM4
TSM-NI3(4) PRM4
TSM-NI3(6) PRM4
TSM-NI3(5) PRM4
TSM-NI3(3) PRM4
TSM-NI3(1) PRM4
TSM-AS14(2) PRM5
TSM-AS13(2) PRM5
TSM-PS30(3) PRM5
TSM-AS16(1) PRM5
TSM-AS13(1) PRM5
TSM-NI3(4) PRM5
TSM-NI3(6) PRM5
TSM-NI3(5) PRM5
TSM-NI3(3) PRM5
TSM-NI3(1) PRM5
TSM-AS14(2) PRM6
TSM-AS13(2) PRM6
TSM-PS30(3) PRM6
TSM-AS16(1) PRM6
TSM-AS13(1) PRM6
TSM-NI3(4) PRM6
TSM-NI3(6) PRM6
TSM-NI3(5) PRM6
TSM-NI3(3) PRM6
TSM-NI3(1) PRM6
TSM-AS14(2) PRM7
TSM-AS13(2) PRM7
TSM-PS30(3) PRM7
TSM-AS16(1) PRM7
TSM-AS13(1) PRM7
TSM-NI3(4) PRM7
TSM-NI3(6) PRM7
TSM-NI3(5) PRM7
TSM-NI3(3) PRM7
TSM-NI3(1) PRM7
TSM-AS14(2) PRM8
TSM-AS13(2) PRM8
TSM-PS30(3) PRM8
TSM-AS16(1) PRM8
TSM-AS13(1) PRM8
TSM-NI3(4) PRM8
TSM-NI3(6) PRM8
TSM-NI3(5) PRM8
TSM-NI3(3) PRM8
TSM-NI3(1) PRM8
TSM-AS14(2) PRM9
TSM-AS13(2) PRM9
TSM-PS30(3) PRM9
TSM-AS16(1) PRM9
TSM-AS13(1) PRM9
TSM-NI3(4) PRM9
TSM-NI3(6) PRM9
TSM-NI3(5) PRM9
TSM-NI3(3) PRM9
TSM-NI3(1) PRM9
TSM-AS14(2) PRM10
TSM-AS13(2) PRM10
TSM-PS30(3) PRM10
TSM-AS16(1) PRM10
TSM-AS13(1) PRM10
TSM-NI3(4) PRM10
TSM-NI3(6) PRM10
TSM-NI3(5) PRM10
TSM-NI3(3) PRM10
TSM-NI3(1) PRM10
TSM-AS14(2) PRM11
TSM-AS13(2) PRM11
TSM-PS30(3) PRM11
TSM-AS16(1) PRM11
TSM-AS13(1) PRM11
TSM-NI3(4) PRM11
TSM-NI3(6) PRM11
TSM-NI3(5) PRM11
TSM-NI3(3) PRM11
TSM-NI3(1) PRM11
TSM-AS14(2) PRM12
TSM-AS13(2) PRM12
TSM-PS30(3) PRM12
TSM-AS16(1) PRM12
TSM-AS13(1) PRM12
TSM-NI3(4) PRM12
TSM-NI3(6) PRM12
TSM-NI3(5) PRM12
TSM-NI3(3) PRM12
TSM-NI3(1) PRM12
TSM-AS14(2) PRM13
TSM-AS13(2) PRM13
TSM-PS30(3) PRM13
TSM-AS16(1) PRM13
TSM-AS13(1) PRM13
TSM-NI3(4) PRM13
TSM-NI3(6) PRM13
TSM-NI3(5) PRM13
TSM-NI3(3) PRM13
TSM-NI3(1) PRM13
TSM-AS14(2) PRM14
TSM-AS13(2) PRM14
TSM-PS30(3) PRM14
TSM-AS16(1) PRM14
TSM-AS13(1) PRM14
TSM-NI3(4) PRM14
TSM-NI3(6) PRM14
TSM-NI3(5) PRM14
TSM-NI3(3) PRM14
TSM-NI3(1) PRM14
TSM-AS14(2) PRM15
TSM-AS13(2) PRM15
TSM-PS30(3) PRM15
TSM-AS16(1) PRM15
TSM-AS13(1) PRM15
TSM-NI3(4) PRM15
TSM-NI3(6) PRM15
TSM-NI3(5) PRM15
TSM-NI3(3) PRM15
TSM-NI3(1) PRM15
TSM-AS14(2) PRM16
TSM-AS13(2) PRM16
TSM-PS30(3) PRM16
TSM-AS16(1) PRM16
TSM-AS13(1) PRM16
TSM-NI3(4) PRM16
TSM-NI3(6) PRM16
TSM-NI3(5) PRM16
TSM-NI3(3) PRM16
TSM-NI3(1) PRM16
TSM-AS14(2) PRM17
TSM-AS13(2) PRM17
TSM-PS30(3) PRM17
TSM-AS16(1) PRM17
TSM-AS13(1) PRM17
TSM-NI3(4) PRM17
TSM-NI3(6) PRM17
TSM-NI3(5) PRM17
TSM-NI3(3) PRM17
TSM-NI3(1) PRM17
TSM-AS14(2) PRM18
TSM-AS13(2) PRM18
TSM-PS30(3) PRM18
TSM-AS16(1) PRM18
TSM-AS13(1) PRM18
TSM-NI3(4) PRM18
TSM-NI3(6) PRM18
TSM-NI3(5) PRM18
TSM-NI3(3) PRM18
TSM-NI3(1) PRM18
TSM-AS14(2) PRM19
TSM-AS13(2) PRM19
TSM-PS30(3) PRM19
TSM-AS16(1) PRM19
TSM-AS13(1) PRM19
TSM-NI3(4) PRM19
TSM-NI3(6) PRM19
TSM-NI3(5) PRM19
TSM-NI3(3) PRM19
TSM-NI3(1) PRM19
TSM-AS14(2) PRM20
TSM-AS13(2) PRM20
TSM-PS30(3) PRM20
TSM-AS16(1) PRM20
TSM-AS13(1) PRM20
TSM-NI3(4) PRM20
TSM-NI3(6) PRM20
TSM-NI3(5) PRM20
TSM-NI3(3) PRM20
TSM-NI3(1) PRM20
TSM-AS14(2) PRM21
TSM-AS13(2) PRM21
TSM-PS30(3) PRM21
TSM-AS16(1) PRM21
TSM-AS13(1) PRM21
TSM-NI3(4) PRM21
TSM-NI3(6) PRM21
TSM-NI3(5) PRM21
TSM-NI3(3) PRM21
TSM-NI3(1) PRM21
TSM-AS14(2) PRM22
TSM-AS13(2) PRM22
TSM-PS30(3) PRM22
TSM-AS16(1) PRM22
TSM-AS13(1) PRM22
TSM-NI3(4) PRM22
TSM-NI3(6) PRM22
TSM-NI3(5) PRM22
TSM-NI3(3) PRM22
TSM-NI3(1) PRM22
TSM-AS14(2) PRM23
TSM-AS13(2) PRM23
TSM-PS30(3) PRM23
TSM-AS16(1) PRM23
TSM-AS13(1) PRM23
TSM-NI3(4) PRM23
TSM-NI3(6) PRM23
TSM-NI3(5) PRM23
TSM-NI3(3) PRM23
TSM-NI3(1) PRM23
TSM-AS14(2) PRM24
TSM-AS13(2) PRM24
TSM-PS30(3) PRM24
TSM-AS16(1) PRM24
TSM-AS13(1) PRM24
TSM-NI3(4) PRM24
TSM-NI3(6) PRM24
TSM-NI3(5) PRM24
TSM-NI3(3) PRM24
TSM-NI3(1) PRM24